<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2>Welcome to ConsulDoc</h2>
    <h4>What can i do for you?</h4>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eveniet dolorem deleniti! Earum, nulla inventore. Fugiat animi facere dolorem minima. Voluptates voluptatibus enim animi deserunt debitis cum id fugit quos.
    Inventore repudiandae obcaecati aliquid nemo! Soluta dolore molestiae quas ut mollitia sunt facilis officia atque culpa, dignissimos minima distinctio assumenda veniam maiores error reiciendis repellat labore exercitationem repellendus inventore excepturi.
    Sint asperiores minus explicabo soluta. Unde nisi ipsam adipisci esse voluptatibus labore. Facilis, et facere. Aperiam ullam porro qui eum, reprehenderit enim perspiciatis veritatis tenetur molestiae, possimus laborum facilis sed!
    Commodi voluptate repellat nulla nesciunt sit quibusdam ipsam culpa dolore consectetur? Impedit aperiam beatae molestiae tempora provident, dolore alias dolorum obcaecati deserunt aspernatur animi porro odit error rem accusamus cumque.
    Culpa ea, fugit dolor ex rerum soluta labore hic repellat dolorum accusamus officia officiis debitis eaque neque dicta repellendus molestiae corporis voluptas velit laborum! Aperiam enim magni in voluptate saepe.
    Illo ratione dicta nesciunt, voluptate possimus eos accusantium vitae modi. </p> <br>
    <a href="/login"><button>Log-In</button></a>
    
</body>
</html>