<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dctor registration</title>
</head>
<body>
    <div>
        <h2>Welcome to ConsulDOc</h2>
        <form action="/register/doctor" method="post">
            <label>Username</label> <br>
            <input type="text" name="username"> <br> <br>
            <label>Password</label> <br>
            <input type="password" name="password"> <br> <br>
            <label>Full Name</label> <br>
            <input type="text" name="name"> <br> <br>
            <label>SIP (Surat Izin Praktik)</label> <br>
            <input type="text" name="sip"> <br> <br>
            <label>Specialist</label> <br>
            <input type="text" name="specialist"> <br> <br>
            <label>Hospital</label> <br>
            <input type="text" name="hospital"> <br> <br>
            <label>Experience</label> <br>
            <input type="number" min="0" name="exp"> <br> <br>
            <label>Price</label> <br>
            <input type="number" min="0" name="price"> <br> <br>
            <label>Email</label> <br>
            <input type="text" name="email"><br> <br>
            <input type="submit" value="register"> 
        </form>
    </div>

    
</body>
</html>