<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Patient</title>
</head>
<body>
    <div>
        <form action="/register/patient" method="post">
            <label>Username</label> <br>
            <input type="text" name="username"> <br> <br>
            <label>Password</label> <br>
            <input type="password" name="password"> <br> <br>
            <label>Full Name</label> <br>
            <input type="text" name="name"> <br> <br>
            <label>Gender</label> <br>
            <input type="text" name="gender"> <br> <br>
            <Label>Age</Label> <br>
            <input type="number" min="0" name="age"> <br> <br>
            <label>Email</label> <br>
            <input type="text" name="email">
            <input type="submit" value="Register">
        </form>
    </div>
    
</body>
</html>